<h1>メモ一覧</h1>

<% if @memos.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
      </th>
    </thead>
    <tbody>
      
      <% @memos.each do |memo| %>
        <tr>
          <th><%= link_to memo.title, memo %></th>
          <th><%= memo.content %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= paginate @memos %>

<%= link_to '新規作成する', new_memo_path, class: "btn btn-info" %>