<header class="mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">メモ一覧</a>
      <span class="navbar-text">
        <%= link_to '新規メモ作成', new_memo_path %>
      </span>
      
    </div>
  </nav>
</header>